<h1>List of students!</h1>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">name</th>
        <th scope="col">address</th>
        <th scope="col">workSheet</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let student of students">
      <tr>
        <td>{{student.name}}</td>
        <td>{{student.address}}</td>
        <td>{{student.wokSheetName}}</td>
        <td><button type="button" class="btn btn-warning" (click)="getStudentCourses(student.id)" >show courses</button></td>
      </tr>
      </tbody>
      </table>
      
<h1>ADD STUDENT FORM</h1>
<form #addStudents="ngForm" (submit)="addStudent(addStudents)">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">id:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="studentId" ngModel required #studentId="ngModel">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="studentName" ngModel required #studentName="ngModel">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">address:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="address" ngModel required #address="ngModel">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">work Sheet:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="workSheet" ngModel required #workSheet="ngModel">
        </div>
    </div>
    <button type="submit">ADD</button>
</form>
<!-----
<p>First name : {{ studentName.value }}</p>
<p> address: {{ address.valid }}</p>
<p> workSheet: {{ workSheet.valid }}</p>
<p>Form value: {{ addStudents.value | json }}</p>
<p>Form valid: {{ addStudents.valid }}</p>
---->
<h1>UPDATE STUDENT FORM</h1>
<form #updateStudent="ngForm" (submit)="updateStudents(updateStudent)">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">id:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="studentId" ngModel required #studentId="ngModel">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="studentName" ngModel required #studentName="ngModel">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">address:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="address" ngModel required #address="ngModel">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">work Sheet:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="workSheet" ngModel required #workSheet="ngModel">
        </div>
    </div>
    <button type="submit">Update</button>
</form>
<h1>DELETE STUDENT FORM</h1>

<form #deleteStudent="ngForm" (submit)="deleteStudents(deleteStudent)">
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">id</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="id" ngModel required #id="ngModel">
        </div>
    </div>
    <button type="submit">Delete</button>

</form>